@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);


/* Collapsibles */

.collapsible {
    /* background-color: #777; */
    /* color: white; */
    background-color: #ffffff;
    color: #448899;
    cursor: pointer;
    padding-top: 18px;
    padding-bottom: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    width: min(95%, 960px);
    margin: auto;
    display: block;
    border-bottom: #448899 3px solid;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    font-weight: 700;
}

.active,
.collapsible:hover {
    /* background-color: #555; */
    background-color: #FFFFFF;
}

.collapsible:after {
    content: '\002B';
    /* color: white; */
    color: #448899;
    font-size: 25px;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.content {
    /* padding: 0 18px; */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #E8E8E8;
    /* background-color: #FFFFFF; */
    margin: auto;
    width: min(95%, 960px);
    border-radius: 0px 0px 10px 10px;
}

/* Collapsibles end */

.show.main,
.show.fakefooter,
.show.myBook,
.show.history {
    visibility: hidden;
    opacity: 0;
}

body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    margin: 0px;
}

.taipei {
    font-weight: 700;
    font-size: 30px;
    line-height: 34px;
    color: #448899;
    text-decoration: none;
}

.header_menu {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 40px;
    color: #666666;
    /* text-decoration: none; */
}

.nav-container {
    background-color: #FFFFFF;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 10;
    justify-content: flex-end;
    flex: auto;
    border-bottom: #E8E8E8 1px solid;
}

.header {
    /* 最寬1200px */
    width: min(90%, 1200px);
    height: 40px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    margin: auto;
}

.header_login,
.header_logout {
    cursor: pointer;
}

footer {
    position: relative;
    bottom: -100px;
    width: min(90%, );
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px;
    background: #757575;
}

footer>div {

    font-weight: 700;
    font-size: 16px;
    line-height: 13px;
    color: #FFFFFF;

}


.container {
    width: 1200px;
    background-color: #FFFFFF;
    margin: auto;
    position: relative;
    top: 60px;

    /* 置中 */
}


/* booking */

.bookingperson {
    /* min-width: 100%; */
    display: grid;
    grid-template-columns: 10% 80% 10%;
    padding-top: 46px;
    padding-bottom: 35px;
    font-size: 19px;
    font-weight: 700;
    color: #666666;
}

.bookinglist {
    height: 240px;
    /* min-width: 100%; */
    display: grid;
    grid-template-columns: 5% 30% 60% 5%;
    /* border-bottom: #E8E8E8 1px solid; */
    margin-top: 20px;
}

.maininfo {
    grid-template-columns: 50% 50%;
    display: grid;
}

.main{
    padding-bottom: 50px;
}


.bookingpic {
    top: 0px;
    position: relative;
    width: 266px;
    height: 200px;
}

.bookingpic>img {
    position: relative;
    width: 100%;
    height: 200px;
    object-fit: cover;
    float: right;
}


.bookingtitle,
.contecttitle {
    font-size: 16px;
    font-weight: 700;
    color: #448899;
    line-height: 30px;
}

.bookingdetail,
.contactdetail {
    font-size: 16px;
    font-weight: 500;
    color: #666666;
    line-height: 20px;
}


.nobooking {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    /* padding-bottom: 500px; */
}

.fakefooter {
    height: 72vh;
    position: relative;
    top: 100px;
    background-color: #757575;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: min(90%, );
}


@media only screen and (max-width: 1200px) {
    .container {
        width: 90%;
    }

    .bookingperson {
        grid-template-columns: 4% 90% 5%;
    }

    .bookinglist {
        grid-template-columns: 5% 35% 55% 5%;
    }
}

@media only screen and (max-width: 1100px) {

    .container {
        width: 90%;
    }

    .bookingperson {
        grid-template-columns: 3% 90% 5%;
    }

    .bookinglist {
        grid-template-columns: 5% 35% 55% 5%;
    }
}

@media only screen and (max-width: 1000px) {

    .maininfo {
        grid-template-columns: 100%;
        display: grid;
    }

    .content{
        height: 1000px;
    }

    .contecttitle {
        display: none;
    }

    .contactdetail{
        margin-top: -12px;
        margin-bottom: 30px;
    }

    .container {
        width: 90%;
    }

    .bookingperson {
        grid-template-columns: 3% 90% 5%;
    }

    .bookinglist {
        grid-template-columns: 5% 40% 50% 5%;
    }
}

@media only screen and (max-width: 900px) {


    .maininfo {
        grid-template-columns: 100%;
        display: grid;
    }

    .content{
        height: 1000px;
    }

    .contecttitle {
        display: none;
    }

    .contactdetail{
        margin-top: -12px;
        margin-bottom: 30px;
    }

    .container {
        width: 93%;
    }

    .bookinglist {
        grid-template-columns: 5% 45% 45% 5%;
    }

    .bookingperson,
    .nobooking {
        grid-template-columns: 3% 90% 5%;
    }
}

@media only screen and (max-width: 800px) {

    .maininfo {
        grid-template-columns: 100%;
        display: grid;
    }

    .content{
        height: 1000px;
    }

    .contecttitle {
        display: none;
    }

    .contactdetail{
        margin-top: -12px;
        margin-bottom: 30px;
    }

    .container {
        width: 93%;
    }

    .bookinglist {
        grid-template-columns: 5% 48% 42% 5%;
    }

    .bookingperson,
    .nobooking {
        grid-template-columns: 3% 90% 5%;
    }
}


@media only screen and (max-width: 700px) {

    .header {
        width: 95%;
    }

    .container {
        width: 95%;
    }

    .bookingperson {
        padding-bottom: 17px;
    }


    .bookinglist {
        height: 495px;
        display: grid;
        grid-template-columns: 90%;
        justify-content: center;
    }

    .bookingpic {
        top: 0px;
        position: relative;
        width: 100%;
        height: 200px;
    }

    .bookingpic>img {
        position: relative;
        width: 100%;
        height: 200px;
        object-fit: cover;
        float: right;
    }

    .maininfo {
        grid-template-columns: 100%;
        display: grid;
    }

    .content{
        height: 1000px;
    }

    .contecttitle {
        display: none;
    }

    .contactdetail{
        margin-top: -12px;
        margin-bottom: 30px;
    }

    .bookingtitle{
        margin-top: 20px;
    }

    .bookingperson,
    .nobooking {
        grid-template-columns: 3% 90% 5%;
    }

}