@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

/* BASIC */

.show.header_login,
.show.header_logout,
.show.login_wrapper,
.show.signup_wrapper,
.show.mask {
    visibility: hidden;
    opacity: 0;
}

.header_login,
.header_logout,
.header_booking {
    cursor: pointer;
}

.decobar {
    background: linear-gradient(270deg, #337788 0%, #66AABB 100%);
    border-radius: 10px 10px 0px 0px;
    width: 340px;
    height: 10px;
}

.login body {
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;
    height: 100vh;

}

.login a {
    color: #666666;
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
}

.login_active {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    /* text-transform: uppercase; */
    display: inline-block;
    margin: 10px 10px 5px 10px;
    color: #666666;
}

.icon_close {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.icon_close2 {
    position: absolute;
    top: 17px;
    right: 17px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}


/* STRUCTURE */
.mask {
    top: 0px;
    left: 0;
    bottom: 0;
    right: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.499);
    z-index: 10;
}

.login_wrapper,
.signup_wrapper {
    position: absolute;
    top: 80px;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* justify-content: center; */
    /* 從中間往上下長 */
    width: 100%;
    min-height: 50%;
    padding: 20px;
    z-index: 20;
}

.login_message,
.signup_message {
    font-size: 16px;
    font-weight: 500;
    color: rgb(207, 35, 35);
    padding-bottom: 10px;
}

#formContent {
    -webkit-border-radius: 10px 10px 10px 10px;
    border-radius: 0px 0px 10px 10px;
    background: #fff;
    max-width: 340px;
    position: relative;
    padding: 0px;
    -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
    text-align: center;
}

#formFooter {
    background-color: #f6f6f6;
    border-top: 1px solid #dce8f1;
    padding: 13px;
    text-align: center;
    -webkit-border-radius: 0 0 10px 10px;
    border-radius: 0 0 10px 10px;
}


/* FORM TYPOGRAPHY*/

.login input[type=button],
.login input[type=submit],
.login input[type=reset] {
    cursor: pointer;
    background-color: #448899;
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 19px;
    font-weight: 500;
    width: 310px;
    height: 47px;
    /* 按鈕陰影 */
    /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
    /* box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4); */
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 5px 10px 10px 10px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.login input[type=button]:hover,
.login input[type=submit]:hover,
.login input[type=reset]:hover {
    background-color: #4488999c;
}

.login input[type=button]:active,
.login input[type=submit]:active,
.login input[type=reset]:active {
    -moz-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    -o-transform: scale(0.95);
    -ms-transform: scale(0.95);
    transform: scale(0.95);
}

.login input[type=text],
.login input[type=password] {
    background-color: #FFFFFF;
    border: none;
    color: #757575;
    padding: 15px 15px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin: 5px;
    width: 310px;
    height: 47px;
    border: 1px solid #cccccc;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
}

.login input[type=text]:focus,
.login input[type=password]:focus {
    background-color: #f6f6f6;
    border-bottom: 2px solid #448899;
}

.login input[type=text]:placeholder,
.login input[type=password]:placeholder {
    color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, -100%, 0);
        transform: translate3d(0, -100%, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.login .fadeIn {
    opacity: 0;
    -webkit-animation: fadeIn ease-in 1;
    -moz-animation: fadeIn ease-in 1;
    animation: fadeIn ease-in 1;

    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
    animation-fill-mode: forwards;

    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
}

.login .fadeIn.first {
    -webkit-animation-delay: 0.4s;
    -moz-animation-delay: 0.4s;
    animation-delay: 0.4s;
}

.login .fadeIn.second {
    -webkit-animation-delay: 0.6s;
    -moz-animation-delay: 0.6s;
    animation-delay: 0.6s;
}

.login .fadeIn.third {
    -webkit-animation-delay: 0.8s;
    -moz-animation-delay: 0.8s;
    animation-delay: 0.8s;
}

.login .fadeIn.fourth {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
    animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.login .underlineHover:after {
    display: block;
    left: 0;
    bottom: -10px;
    width: 0;
    height: 2px;
    background-color: #448899;
    content: "";
    transition: width 0.2s;
    cursor: pointer;
}

.login .underlineHover:hover {
    color: #0d0d0d;
    cursor: pointer;
}

.login .underlineHover:hover:after {
    width: 100%;
    cursor: pointer;
}


/* OTHERS */

.login *:focus {
    outline: none;
}

.login * {
    box-sizing: border-box;
}