<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Attraction</title>
    <link rel="stylesheet" href="/static/attraction.css">
    <link rel="stylesheet" href="/static/login.css">
</head>

<body>
    <!-- header -->
    <div class="nav-container">
        <nav class="header">
            <div><a href="/" class="taipei">台北一日遊</a></div>
            <div class="header_menu">
                <span><a class="header_booking" style="text-decoration: none; color: #666666;">預定行程</a>&emsp;</span>
                <span><a class="header_login show" style="text-decoration: none;">登入/註冊</a></span>
                <span><a class="header_logout show" style="text-decoration: none;">登出系統</a></span>
            </div>
        </nav>
    </div>
    <br><br>
    <hr style="position: relative; top:0px">


    <!-- login -->
    <div class="login">
        <!-- 登入 -->
        <div class="login_wrapper login_fadeInDown show">
            <div class="decobar"></div>
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="login_active">登入會員帳號</h2>
                <a class="icon_close"><img src="/static/img/icon_close.png" alt=""></a>

                <!-- Login Form -->
                <form id="loginform">
                    <input type="text" id="email" class="fadeIn first" name="email" placeholder="輸入電子信箱"
                        autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <input type="password" id="password" class="fadeIn second" name="password" placeholder="輸入密碼"
                        autocomplete="off" pattern="[a-zA-Z0-9]{4,12}" required>
                    <input type="button" class="fadeIn third" value="登入帳戶" id="loginbutton">
                    <div class="login_message"></div>
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <span>還沒有帳戶？ </span><a class="underlineHover" id="clicktosign">點此註冊</a>
                </div>

            </div>
        </div>

        <!-- 註冊 -->
        <div class="signup_wrapper login_fadeInDown show">
            <div class="decobar"></div>
            <div id="formContent">
                <!-- Titles -->
                <h2 class="login_active">註冊會員帳號</h2>
                <a class="icon_close2"><img src="/static/img/icon_close.png" alt=""></a>

                <!-- Signup Form -->
                <form id="signupform">
                    <input type="text" id="sname" class="fadeIn first" name="sname" placeholder="輸入姓名"
                        autocomplete="off" required>
                    <input type="text" id="semail" class="fadeIn second" name="semail" placeholder="輸入電子郵件"
                        autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <input type="password" id="spassword" class="fadeIn third" name="spassword" placeholder="輸入密碼"
                        autocomplete="off" pattern="[a-zA-Z0-9]{4,}" required>
                    <input type="button" class="fadeIn fourth" value="註冊新帳戶" id="signupbutton">
                    <div class="signup_message"></div>
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <span>已經有帳戶了？ </span><a class="underlineHover" id="clicktologin">點此登入</a>
                </div>
            </div>
        </div>

    </div>
    <div class="mask show"></div>

    <!-- main -->

    <section class="container" id="container">
        <div class="attrinfo">
            <div class="infopic">
                <!-- Slideshow container -->
                <div class="slideshow-container">
                    <!-- Full-width images with number and caption text -->

                    <div class="card">
                        <div id="card">
                        </div>

                        <!-- Next and previous buttons -->
                        <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                        <a class="next" onclick="plusSlides(1)">&#10095;</a>

                        <!-- The dots/circles -->
                        <div style="text-align:center" id="alldot">
                        </div>
                    </div>
                </div>
            </div>

            <div class="maininfo">
                <span class="infoname" id="infoname"></span><br>
                <div class="infodetail">
                    <span class="category" id="category"></span>
                    &nbsp;at&nbsp;
                    <span class="mrt" id="mrt"></span>
                </div><br>

                <div class="booking">
                    <span class="btitle">訂購導覽行程</span>
                    <p class="boption">以此景點為中心的一日行程，帶您探索城市角落故事</p>
                    <p class="btitle">選擇日期：
                        <input class="booking_date" id="booking_date" type="date"/>
                    </p>
                    <p class="btitle">選擇時間：
                        <label class="radio">
                            <input class="radio1" type="radio" name="booking-options" id="morning" value="新台幣 2000 元"
                                checked><span class="checkmark"></span>
                            <label for="morning" class="content">上半天</label>
                        </label>

                        <span>&nbsp;&nbsp;</span>

                        <label class="radio">
                            <input class="radio2" type="radio" name="booking-options" id="afternoon"
                                value="新台幣 2500 元"><span class="checkmark"></span>
                            <label for="afternoon" class="content">下半天</label>
                        </label>
                    </p>
                    <p class="btitle">導覽費用：
                        <span class="content" id="field-price"></span>
                    </p>
                    <button class="bookingbtn" id="bookingbtn" onclick="book()">開始預約行程</button>
                    <label class="booking-text show">請選擇預約日期</label>
                </div>
            </div>
        </div>

        <div class="detail">
            <div class="hr"></div>
            <br>
            <div class="description" id="description">
            </div>
            <br>
            <div class="dtitle">景點地址：</div>
            <div class="address" id="address"></div>
            <br>
            <div class="dtitle">交通方式：</div>
            <div class="transport" id="transport">
            </div>
        </div>
    </section>
    <br><br>

    <!-- footer -->
    <footer class="footer">
        <div>COPYRIGHT © 2022 台北一日遊</div>
    </footer>

    <!-- JS -->
    <script src="/static/attraction.js"></script>
    <script src="/static/login.js"></script>
</body>

</html>