<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Booking</title>
    <link rel="stylesheet" href="/static/login.css">
    <link rel="stylesheet" href="/static/booking.css">
</head>

<body>
    <!-- header -->
    <div class="nav-container">
        <nav class="header">
            <div><a href="/" class="taipei">台北一日遊</a></div>
            <div class="header_menu">
                <span><a class="header_booking" style="text-decoration: none; color: #666666;">預定行程</a>&emsp;</span>
                <span><a class="header_login show" style="text-decoration: none;">登入/註冊</a></span>
                <span><a class="header_logout show" style="text-decoration: none;">登出系統</a></span>
            </div>
        </nav>
    </div>

    <!-- login -->
    <div class="login">
        <!-- 登入 -->
        <div class="login_wrapper login_fadeInDown show">
            <div class="decobar"></div>
            <div id="formContent">
                <!-- Tabs Titles -->
                <h2 class="login_active">登入會員帳號</h2>
                <a class="icon_close"><img src="/static/img/icon_close.png" alt=""></a>

                <!-- Login Form -->
                <form id="loginform">
                    <input type="text" id="email" class="fadeIn first" name="email" placeholder="輸入電子信箱"
                        autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <input type="password" id="password" class="fadeIn second" name="password" placeholder="輸入密碼"
                        autocomplete="off" pattern="[a-zA-Z0-9]{4,}" required>
                    <input type="button" class="fadeIn third" value="登入帳戶" id="loginbutton">
                    <div class="login_message"></div>
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <span>還沒有帳戶？ </span><a class="underlineHover" id="clicktosign">點此註冊</a>
                </div>

            </div>
        </div>

        <!-- 註冊 -->
        <div class="signup_wrapper login_fadeInDown show">
            <div class="decobar"></div>
            <div id="formContent">
                <!-- Titles -->
                <h2 class="login_active">註冊會員帳號</h2>
                <a class="icon_close2"><img src="/static/img/icon_close.png" alt=""></a>

                <!-- Signup Form -->
                <form id="signupform">
                    <input type="text" id="sname" class="fadeIn first" name="sname" placeholder="輸入姓名"
                        autocomplete="off" required>
                    <input type="text" id="semail" class="fadeIn second" name="semail" placeholder="輸入電子郵件"
                        autocomplete="off" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required>
                    <input type="password" id="spassword" class="fadeIn third" name="spassword" placeholder="輸入密碼"
                        autocomplete="off" pattern="[a-zA-Z0-9]{4,12}" required>
                    <input type="button" class="fadeIn fourth" value="註冊新帳戶" id="signupbutton">
                    <div class="signup_message"></div>
                </form>

                <!-- Remind Passowrd -->
                <div id="formFooter">
                    <span>已經有帳戶了？ </span><a class="underlineHover" id="clicktologin">點此登入</a>
                </div>
            </div>
        </div>

    </div>
    <div class="mask show"></div>

    <!-- main -->
    <section class="container" id="container">
        <div class="bookingperson">
            <div></div>
            <div>您好，<label class="bname"></label>，待預訂的行程如下：</div>
            <div></div>
        </div>
        <div class="main">
            <div class="myBook show">
                <div class="bookinglist">
                    <div></div>
                    <!-- pic -->
                    <div class="bookingpic">
                        <img src="" alt="" id="bimg">
                    </div>
                    <!-- info -->
                    <div class="maininfo">
                        <div class="bookingtitle">
                            台北一日遊：
                            <span class="bookingname"></span>
                        </div>
                        <div class="bookingdetail">
                            <p>日期：
                                <span>2021-12-13</span>
                            </p>
                            <p>時間：
                                <span class="bhour">${hour}</span>
                            </p>
                            <p>費用：
                                新台幣 <span class="bprice" id="field-price"></span> 元
                            </p>
                            <p>地點：
                                <span class="baddr"></span>
                            </p>
                        </div>
                    </div>
                    <div class="bookingdelete">
                        <img src="/static/img/icon_delete.png">
                    </div>
                </div>

                <div class="bookingcontact">
                    <div></div>
                    <div class="binfo">
                        <p class="bnotice1">您的聯絡資訊</p>
                        <div class="btitle">聯絡姓名：
                            <input type="text" class="binput inputName" required>
                        </div>
                        <div class="btitle">連絡信箱：
                            <input type="email" class="binput inputEmail" required>
                        </div>
                        <div class="btitle">手機號碼：
                            <input type="tel" class="binput inputPhone" maxlength="10" pattern="^1[0-9]{10}$"
                                title="手機號格式不正確" required>
                        </div>
                        <p class="bnotice2">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
                    </div>
                    <div></div>
                </div>
                <div class="bookingcontact">
                    <div></div>
                    <div class="bcard">
                        <p class="bnotice10">信用卡付款資訊</p>
                        <div class="btitle">
                            卡片號碼：<div class="tpfield" id="card-number"></div>
                        </div>
                        <div class="btitle">
                            過期時間：<div class="tpfield" id="card-expiration-date"></div>
                        </div>
                        <div class="btitle">
                            驗證密碼：<div class="tpfield" id="card-ccv"></div>
                        </div>

                    </div>
                    <div></div>
                </div>
                <div class="bookingbottom">
                    <div></div>
                    <div class="bookingbutton">
                        <div class="bnotice2">總價：新台幣 <span class="totleprice" id="field-price"></span> 元</div><br>
                        <label class="orderMsg"></label><button class="bbutton" onclick="onClick()">確認訂購並付款</button>
                    </div>
                    <div></div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="footer">
        <div>COPYRIGHT © 2022 台北一日遊</div>
    </footer>
    <div class="fakefooter show"></div>

    <!-- tappay -->
    <script src="https://js.tappaysdk.com/sdk/tpdirect/v5.14.0"></script>

    <!-- JS -->
    <script src="/static/login.js"></script>
    <script src="/static/booking.js"></script>

</body>

</html>